@import './shared/fonts';
// PAGES
@import './index';

// Compnonents
@import './header';

background-index.png
index.js-layout-scss.txt
index.js-layout.txt
section-1.png
section-2.png

html, body {
  height:100%;
  width:100%;
  font-family: 'Montserrat', 'Helvetica';
}

.clickable{
	cursor: pointer;
}

.self-typed{
	font-size: 31px;
	font-weight: bold;
	letter-spacing: 2px;
	color: white;
}

.absolute {
  position: absolute;
}

.base-page{
	padding-top: 150px;
	color: white;
}